<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <%if (messages) {%>
        <% message.forEach(message => { %>
            <div class="message">
                <dl>
                    <% for (const [key, value] of Object.entries(obj)) { %>
                        <dt><%= key %></dt>
                        <dd><%= value %></dd>
                    <% } %>
                </dl>
            </div>
        <% });%>
    <% } %>
</body>
</html>