<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <%if (messages) {%>
        <% messages.forEach(message => { %>
            <div class="message">
                <dl>
                    <% for (const [key, value] of Object.entries(message)) { %>
                        <dt><%= key %></dt>
                        <dd><%= value %></dd>
                    <% } %>
                </dl>
                <% if( currentUser && currentUser.is_admin) {%>
                    <button class="delete" id="<%= message.id %>"> Delete </button>
                <% } %>
            </div>
        <% });%>
    <% } %>
    <script>
        const deleteButtons = document.querySelectorAll(".delete");
        deleteButtons.forEach((button)=> {
            button.addEventListener("click", () => {
                const id = button.id;
                fetch("/delete-message", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ id: id })
                })
                .then((res) => res.text())
                .then((data) => {
                    alert("DELETED");
                    location.reload();
                }).catch((err) => {
                    console.log(err);
                });
            });
        });
    </script>
</body>
</html>