<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Join Club</title>
</head>
<body>
  <h1>Join The Club!</h1>
  <form action="/login" method="POST">
    <label for="passcode">Enter Passcode!</label>
    <input id="passcode" name="passcode" placeholder="passcode" type="text" />
    <button type="submit">Sign Up</button>
  </form>
</body>
</html>