<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make Message</title>
</head>
<body>
    <% if (msg) { %>
        <p><%= msg %></p>
    <% } %>
    <form action="/make-message" method="POST">
        <label for="title"></label>
        <input type="text" id="title" name="title">
        <label for="body"></label>
        <input type="text" id="body" name="body">
        <button type="submit">Make Message</button>
    </form>
</body>
</html>